{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if submeter_resumo %}
        Adiciona resumo
    {% else %}
        Alterar Resumo
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if submeter_resumo %}
                <h1>Adicionar resumo</h1>
            {% else %}
                <h1>Alterar resumo</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
