{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Resumos{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Resumos</h1>
        {% if resumos %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="40%"> Titulo </th>
                  <th width="40%"> Texto </th>
                  <th width="40%"> Autor </th>
                  <th width="15%"> Editar </th>
                  <th width="15%"> Deletar </th>
                </tr>
              </thead>
              <tbody>
              {% for resumo in resumos %}
                <tr>
                  <td> {{ resumo.titulo }} </td>
                  <td> {{ resumo.texto }} </td>
                  <td> {{ resumo.autor }} </td>
                  <td>
                    <a href="{{ url_for('aluno.alterar_resumo', id=resumo.id) }}">
                      <i class="fa fa-pencil"></i> Editar
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('aluno.apagar_resumo', id=resumo.id) }}">
                      <i class="fa fa-trash"></i> Deletar
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Nenhum resumo foi submetido. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('aluno.submeter_resumo') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Submeter Resumo.
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
